<h1>Our Catalog </h1>
<% @prod.each do |p| %>
  <product>
	<table width='100%'>
	<tr><td align='center'><b><%= link_to p.productname,  product_path(p.id) %> </b></td></tr>
	<tr><td><center>

<% if p.productimage == 1 %>
<%= image_tag "twinpeaksblack.png", size:"50x50" %>
<% elsif p.productimage == 2 %>
<%= image_tag "twinpeakswhite.png", size:"50x50" %>
<% elsif p.productimage == 3 %>
<%= image_tag "magicianblack.png", size:"50x50" %>
<% elsif p.productimage == 4 %>
<%= image_tag "magicianwhite.png", size: "50x50" %>
<% elsif p.productimage == 5 %>
<%= image_tag "smokeblack.png", size: "50x50" %>
<% elsif p.productimage == 6 %>
<%= image_tag "smokewhite.png", size: "50x50" %>
<% elsif p.productimage == 7 %>
<%= image_tag "streakyblack.png", size: "50x50" %>
<% elsif p.productimage == 8 %>
<%= image_tag "streakywhite.png", size: "50x50" %>
<% elsif p.productimage == 9 %>
<%= image_tag "gogglesblack.png", size: "50x50" %>
<% elsif p.productimage == 10 %>
<%= image_tag "goggleswhite.png", size: "50x50" %>
<% end %>
	</center></td></tr>
	<tr><td align='center'>
	<%= form_tag :controller => 'home', :action => 'buy' do %>
		<b>Price:</b> <%= number_to_currency(p.saleprice) %>
		<%= hidden_field_tag 'prodid', "#{p.id}" %> </br>
		<%= select_tag "qty", "<option>1</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option>".html_safe %>
		<%= submit_tag 'Add To Cart', :class => 'button1' %>
	<% end %>
	</td></tr>
	</table>
  </product>
<% end %>
